* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #84e1ad;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
}

.titulo1 {
    padding-bottom: 25px;
}

header {
    text-align: center;
    background-image: linear-gradient(180deg, #59e093 , #2c2828);
}

ul {
    background-color: #2c2828;    
}

.container {
    background-color: white;
    height: 100%;
    width: 850px;
    margin: auto;
    text-align: center;

}